pin-depends: [
  [ "ortac-dune.dev" "git+https://github.com/n-osborne/ortac#b4ddc1a74002798be4fbfb574f963609f1dd51f3" ]
  [ "ortac-core.dev" "git+https://github.com/n-osborne/ortac#b4ddc1a74002798be4fbfb574f963609f1dd51f3" ]
  [ "ortac-qcheck-stm.dev" "git+https://github.com/n-osborne/ortac#b4ddc1a74002798be4fbfb574f963609f1dd51f3" ]
  [ "ortac-runtime-qcheck-stm.dev" "git+https://github.com/n-osborne/ortac#b4ddc1a74002798be4fbfb574f963609f1dd51f3" ]
  [ "ortac-runtime.dev" "git+https://github.com/n-osborne/ortac#b4ddc1a74002798be4fbfb574f963609f1dd51f3" ]
  [ "gospel.dev" "git+https://github.com/ocaml-gospel/gospel#181e693354e1e4e3c28838cde97b2c814c09b58d" ]
  ]
